/* FONTS */
@font-face {
    font-family: 'Gilroy-Bold';
    src: url(../fonts/Gilroy-Bold.ttf);
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url(../fonts/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(../fonts/Gilroy-Medium.ttf);
}
/*  */


/* HEADER */
.header {
    margin-top: 40px;
    margin-bottom: 85px;
}

/* .header-wrapper {} */

.header-logo img {
    width: 137px;
    height: 40px;
}

.header-navbar {
    color: #000;
    font-family: Gilroy-Medium, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.nav-list {
    list-style-type: none;
}

.homepage-link {
    color: #F25822;
}

/*  */


/* MAIN */
.main {
    margin-bottom: 260px;
}

/* .jumbotron {} */

.jumbotron-wrapper {
    color: #888888;
    font-family: Gilroy-Medium, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.jumbotron-title {
    color: #000;
    font-family: Gilroy-Bold, sans-serif;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 17px;
}

.jumbotron-wrapper p {
    margin-bottom: 35px;
}

.jumbotron-btn-group {
    font-family: Gilroy-Bold, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.jumbotron-btn-primary {
    padding: 15px 35px;
    border: none;
    border-radius: 50px;
    color: white;
    box-shadow: 4px 4px 8px 0 rgba(242, 88, 34, 0.2);
    background: #f25822;
}

.jumbotron-btn-secondary {
    padding: 15px 35px;
    background: none;
    box-shadow: none;
    color: #AAAAAA;
}

/*  */


/* FOOTER */
/* .footer {} */

/* .footer-vendorbar {} */

.vendor-list {
    list-style-type: none;
}

.vendor-logo {
    width: 160px;
    height: 50px;
}
/*  */


/* ADDITIONAL */
.container {
    max-width: 1170px;
    margin: 0 auto;
}

/*  */