@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* HERO */
.hero-title {
    color: #222;
    font-family: Lato, serif;
    font-style: normal;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.hero-heading {
    color: #222;
    font-family: Lato,serif;
    font-style: normal;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
}

.hero-heading>span {
    color: #F16D7F;
}
/* END_HERO */

/* OFFERS */
/* END_OFFERS */

/* PRODUCTS */
/* END_PRODUCTS */
