.hero {
    --hero-max-height: 764px;
    max-height: var(--hero-max-height);
    background-color: var(--color-light-accent);
}

.hero__header_flex-template {
    gap: 64px;
    justify-self: center;
    align-items: center;
}

.hero__img {
    max-height: var(--hero-max-height);
}

.hero__heading {
    padding-left: 16px;
    border-left: 12px solid var(--color-accent);
    font-family: Lato, serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-dark);
}

.hero-heading__font_style {
    font-size: 48px;
    font-weight: 900;
}

.hero-heading__font_style::after {
    content: "\A";
    white-space: pre-line;
}

.hero-heading__font_color {
    color: var(--color-accent);
}

@media only screen and (max-width: 1139px) {

    .hero {
        --hero-max-height: 368px;
    }

    .hero__header_flex-template {
        gap: 39px;
    }

    .hero__heading {
        font-size: 24px;
        font-weight: 700;
    }

    .hero-heading__font_style {
        font-size: 44px;
        font-weight: 900;
    }

}

@media only screen and (max-width: 735px) {

    .hero {
        --hero-max-height: 363px;
    }

    .hero__header_flex-template {
        height: var(--hero-max-height);
    }

    .hero__img {
        display: none;
    }

}