.hero {
    --hero-max-height: 764px;
    max-height: var(--hero-max-height);
    background-color: var(--bg-color-hero);
}

.hero__wrapper_center-gap-center {
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.hero__img_size {
    max-height: var(--hero-max-height);
}

.hero__heading_padding-border {
    padding-left: 16px;
    border-left: 16px solid var(--color-accent);
}

.hero__heading_font-style {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.hero-heading__brand_size-weight {
    font-size: 48px;
    font-weight: 900;
}

.hero-heading__brand_size-weight::after {
    content: "\A";
    white-space: break-spaces;
}

.hero-heading__brand_color {
    color: var(--text-color-accent);
}


@media only screen and (max-width: 1139px) {

    .hero {
        --hero-max-height: 368px;
    }

    .hero__wrapper_center-gap-center {
        gap: 39px;
    }

    .hero__img_size {
        max-height: var(--hero-max-height);
    }

    .hero__heading_font-style {
        font-size: 24px;
    }

    .hero-heading__brand_size-weight {
        font-size: 44px;
    }

}

@media only screen and (max-width: 735px) {

    .hero {
        --hero-max-height: 363px;
    }

    .hero__wrapper_center-gap-center {
        min-height: var(--hero-max-height);
    }

    .hero__img_size {
        display: none;
    }

    .hero__heading_font-style {
        font-size: 20px;
    }

    .hero-heading__brand_size-weight {
        font-size: 38px;
    }

}