.body__header_bg {
    background-color: var(--bg-color-dark);
}

.body__header_padding {
    padding: 18px 0;
}

.body-header__nav_gap {
    gap: 41px;
}

.body-header-nav__wrapper_space-between-end {
    width: 100%;
    justify-content: space-between;
    align-items: end;
}

.body-header-nav__inner-wrapper_space-between-end {
    width: 100%;
    max-width: 168px;
    justify-content: space-between;
    align-items: end;
}

@media only screen and (max-width: 1139px) {



}

@media only screen and (max-width: 735px) {

    .body-header-nav__profile {
        display: none;
    }

    .body-header-nav__cart {
        display: none;
    }

    .body-header-nav__inner-wrapper_space-between-end {
        justify-content: end;
    }


}