.offer {
    padding: 65px 0;
}

.offer-nav__list {
    grid-template: 260px 180px / repeat(3, 1fr);
    gap: 30px;
}

.offer-nav-list__item_col-rev-center {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.offer-nav-list-item__heading_font-style {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-color-accent);
    text-transform: uppercase;
}

.offer-nav-list-item__text_font-style {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color-light);
    text-transform: uppercase;
}


.offer-nav-list__item_bg-for-women {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/img-offer-for-women.jpeg) center;
    background-size: cover;
}

.offer-nav-list__item_bg-for-men {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/img-offer-for-men.jpeg) center;
    background-size: cover;
}

.offer-nav-list__item_bg-for-kids {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/img-offer-for-men.jpeg) center;
    background-size: cover;
}

.offer-nav-list__item_bg-accessories {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/img-offer-accessories.jpeg) center;
    background-size: cover;
}


@media only screen and (max-width: 1139px) {

    .offer-nav__list {
        grid-template: 168px 116px / repeat(3, 1fr);
        gap: 20px;
    }

}

@media only screen and (max-width: 735px) {

    .offer-nav__list {
        grid-template: repeat(3, 250px) 111px / 1fr;
        gap: 32px;
    }
}