.container {
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .container {
        max-width: 735px;
    }

}

@media only screen and (max-width: 767px) {

    .container {
        max-width: 360px;
    }

}
