/* LAYOUT */
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}
/* END_LAYOUT */


/* HEADER */
.header {
    background-color: #222222;
}

.header-wrapper {
    padding: 19px 0;
    align-items: center;
    justify-content: space-between;
}

.logo-group {
    max-width: 111px;
    max-height: 38px;
    align-items: center;
    gap: 41px;
}

.nav-group {
    max-width: 159px;
    max-height: 29px;
    align-items: center;
    gap: 33px;
}

.logo {
    max-width: 44px;
    max-height: 38px;
}

.nav-icon {
    max-height: 100%;
}
/* END_HEADER */

/* HERO */
.hero {
    background-color: #F1E4E6;
    margin-bottom: 65px;
}

.hero-wrapper {
    gap: 64px;
}

.hero-inner {
    align-items: center;
}

.hero-content {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.hero-title {
    margin: 0;
}

.hero-heading {
    margin: 0;
}
/* END_HERO */

/* OFFERS */
.offers-wrapper {
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 30px;
}

.offer-card-row {
    grid-column: 1 / span 3;
}

.offer-card {
    padding: 105px 0;
    flex-direction: column-reverse;
    align-items: center;
}

.offer-card-title {
    margin: 0;
    padding: 0;
}

.offer-card-text {
    margin: 0;
    padding: 0;
}

.offer-card-bg-for-women {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/img-offer-for-women.jpeg");
    background-position: center;
    background-size: cover;
}

.offer-card-bg-for-men {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/img-offer-for-men.jpeg");
    background-position: center;
    background-size: cover;
}

.offer-card-bg-for-kids {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/img-offer-for-kids.jpeg");
    background-position: center;
    background-size: cover;
}

.offer-card-bg-accessories {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/img-offer-accessories.jpeg");
    background-position: center;
    background-size: cover;
}

/* END_OFFERS */

/* PRODUCTS */
/* END_PRODUCTS */
