.products {
    margin-bottom: 65px;
    padding: 31px 0;
}

.products__header-flex-template {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.products__heading {
    font-family: Lato, serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: var(--color-dark);
}

.products__intro-text {
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--color-light-grey);
}

.products__grid-template {
    padding: 48px 0;
    grid-template: repeat(2, 581px) / repeat(3, 360px);
    gap: 30px;
}

.products__card_flex-template {
    background-color: var(--color-darl-white);
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.products-card__img {
    --background-img: none;
    height: 420px;
    width: 100%;
}

.products-card__img:hover ~ .products-card__hover-btn {
    display: inline-block;
}

.products-card__img:hover {
    background: linear-gradient(rgba(58, 56, 56, 0.86), rgba(58, 56, 56, 0.86)), var(--background-img) center;
}

.bg-products-1 {
    --background-img: url(../img/img-bg-products-1.png);
    background: var(--background-img) center;
    background-size: cover;
}

.bg-products-2 {
    --background-img: url(../img/img-bg-products-2.png);
    background: var(--background-img) center;
    background-size: cover;
}

.bg-products-3 {
    --background-img: url(../img/img-bg-products-3.png);
    background: var(--background-img) center;
    background-size: cover;
}

.bg-products-4 {
    --background-img: url(../img/img-bg-products-4.png);
    background: var(--background-img) center;
    background-size: cover;
}

.bg-products-5 {
    --background-img: url(../img/img-bg-products-5.png);
    background: var(--background-img) center;
    background-size: cover;
}

.bg-products-6 {
    --background-img: url(../img/img-bg-products-6.png);
    background: var(--background-img) center;
    background-size: cover;
}

.products-card__hover-btn {
    display: none;
    background: none;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--color-white);
    border: 1px solid var(--color-white);
}

.hover-btn__icon {
    width: 26px;
    height: 24px;
}

.products-card__body_flex-template {
    padding: 20px 17px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 13px;
}

.products-card__heading {
    margin-top: 5px;
    font-family: Lato, serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-black);
    text-transform: uppercase;
}

.products-card__text {
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: var(--color-dark-grey);
}

.products-card__price {
    margin-top: 5px;
    background: none;
    border: none;
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--color-accent);
}

@media only screen and (max-width: 1139px) {

    .products {
        margin-bottom: 20px;
        padding: 45px 0;
    }

    .products__grid-template {
        padding-top: 73px;
        padding-bottom: 33px;
        grid-template: repeat(3, 581px) / repeat(2, 360px);
        gap: 16px;
    }

}

@media only screen and (max-width: 735px) {

    .products {
        margin-bottom: 50px;
        padding-top: 0;
        padding-bottom: 46px;
    }

    .products__grid-template {
        padding-top: 65px;
        padding-bottom: 41px;
        grid-template: repeat(6, 359px) / 359px;
        gap: 16px;
    }

}
