:root {
    --color-white: #FFF;
    --color-dark-white: #F8F8F8;
    --color-light-grey: #9F9F9FFF;
    --color-gray: #6F6E6E;
    --color-dark-grey: #5D5D5D;
    --color-black: #000;
    --color-dark: #222;
    --color-light: #E8E8E8;
    --color-light-accent: #F1E4E6;
    --color-accent: #F16D7F;
}